#header
  background: linear-gradient(to right, #00bfffcc, #60fc91cc), url("../img/heroBackground.jpg") no-repeat
  background-size: cover
  height: 600px
  color: white
  text-align: center
  overflow: hidden



  img
    max-width: 400px

  article
    width: 60%
    margin: 0 auto


  h1
    margin-bottom: 10px
    color: white

  #subheader
    font-weight: 600
    font-size: 18px


#logopic
  max-width: 30px
  width: 8em
  height: auto


#phonepic
  width: 100%
  height: auto



.main-nav
  display: flex

  li
    list-style: none
  li:first-child
    margin-right: auto
  a
    color: white
    display: block
    border-radius: 4px
    padding: 10px 50px
    text-decoration: none
    font-weight: 900
    text-transform: uppercase

  a.download
    background: white
    color: $ocean
    box-shadow: 0 12px 10px -10px rgba(0,0,0,0.2)

#brands ul
  margin: 0
  padding: 20px 40px
  background: white
  display: grid
  grid-template-columns: repeat(6, auto)
  @media only screen and (max-width: 550px)
    grid-template-columns: repeat(3, auto)

  li
    list-style: none
     // vertically center images
    display: flex
    flex-direction: column, row
    justify-content: center


  li img
    object-fit: contain


#brands img
  width: 100%
  max-width: 80px
  filter: opacity(75%)
























